<label></label>
<input type="text"
       class="form-control"
       (input)="onUpdateServerName($event)">
<p>{{serverName}}</p>
<button
  class="btn btn-success"
  [disabled]="!allowNewServer"
  (click)="onCreateServer()">Add Server
</button>
<!--property binding use squared brackets-->
<!--parentheses for event binding-->

<!--<p>{{allowNewServer}}</p>-->
<!--<p [innerText]="allowNewServer"></p>-->
<p>{{serverCreationStatus}}</p>
<app-server></app-server>
<app-server></app-server>
<app-server></app-server>
<app-server></app-server>
<app-server></app-server>
<app-server></app-server>
