<div class="container text-danger">
  <div class="row">
    <div class="col-xs-12">
      <h3>I'm in the AppComponent!</h3>
      <hr>
      <app-servers></app-servers>
<!--      <div app-servers></div>-->
<!--      <div class="app-servers"></div>-->
<!--      selecting by id or pseudo selectors (like :hover)  will not work-->
      <app-success-alert></app-success-alert>
      <app-warning-alert></app-warning-alert>
      <app-username></app-username>
      <app-display-details></app-display-details>
    </div>
  </div>
</div>

